.title {
	height: 25vh;
}

.container {
	width: 100vw;
	height: 60vh;
}
.grid {
	width: 200px;
	height: 400px;
}

.block {
	height: 20px;
	width: 20px;
}

.next-block {
	width: 80px;
	height: 80px;
}

.red {
	background-color: red;
}

.blue{
	background-color: blue;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.purple{
	background-color: purple;
}
